.container {
	max-width: 100vw;
	height: 94vh;
	display: grid;
	place-items: start center;
	background-color: #232323;
}
.search-part {
	width: 100vw;
	height: 12vh;
	/* position: static; */
	display: grid;
	place-items: center;
	/* top: 0%; */
	border: 1px solid transparent;
}

.results-part {
	width: 94vw;
	height: 80vh;
	position: relative;
	/* display: flex;
	place-items: center;
	flex-direction: column; */
	overflow-x: hidden;
	background-color: #2d2d2d;
	border: 1px solid transparent;
	border-radius: 10px;
}
