.container {
	max-width: 100vw;
	height: 94dvh;
	display: grid;
	place-items: start center;
	background-color: #232323;
}
.search-part {
	width: 100vw;
	height: 12dvh;
	/* position: static; */
	display: grid;
	place-items: center;
	/* top: 0%; */
	border: 1px solid transparent;
}

.results-part {
	width: 94dvw;
	height: 80dvh;
	position: relative;
	/* display: flex;
	place-items: center;
	flex-direction: column; */
	overflow-x: hidden;
	background-color: #2d2d2d;
	border: 1px solid transparent;
	border-radius: 10px;
	scrollbar-width: none;
	z-index: 8;
}

.results-part::-webkit-scrollbar {
	display: none;
}

.list {
	display: flex;
	flex-direction: column;
	height: auto;
	margin: 2%;
	list-style: none;
}
.recipe {
	position: relative;
	display: grid;
	place-items: center start;
	width: auto;
	height: 25dvh;
	text-align: center;
	/* text-shadow: 1px 1px 1px black; */
	/* background: #06661bb9; */

	background-color: transparent;
	/* background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png"); */
	/* background-image: url("https://www.transparenttextures.com/patterns/retina-wood.png"); */

	/* padding: 2%; */
	border: 1px solid transparent;
	/* border-left: 8px ridge #035c03db; */
	border-left: 8px ridge rgba(3, 176, 3, 0.75);
	/* border-radius: 15px; */
	margin: 4%;
	/* box-shadow: -3px -1px 0px #008000d1; */
	z-index: 2;
	overflow: hidden;
	filter: drop-shadow(23px 0px 20px black);
}

/* .recipe-image-container {
	position: absolute;
	left: -10%;
	display: grid;
	place-items: center;
	width: 23dvh;
	height: 23dvh;
	background-color: #2d2d2d;
	border: 20px solid #012408;
	border-radius: 50%;
	box-shadow: 0px 0px 14px #000000;
	overflow: hidden;
	z-index: 0;
} */

.recipe-image-container {
	position: absolute;
	/* left: -10%; */
	/* display: grid;
	place-items: center; */
	width: 23dvh;
	height: 23dvh;
	/* background-color: #2d2d2d;
	border: 20px solid #012408;
	border-radius: 50%; */
	overflow: hidden;
	z-index: 0;
}

.recipe-image-container > circle {
	/* box-shadow: 0px 0px 14px #212121; */
	position: relative;
	z-index: 1;
	/* border: 3px solid black; */
}

.recipe-image {
	position: absolute;
	left: -20%;
	width: 23dvh;
	height: 23dvh;
	border: 20px solid #0124082d;
	border-radius: 50%;
	z-index: 0;
	filter: brightness(0.95);
}

.recipe-link {
	display: grid;
	place-items: center;
	width: 100%;
	height: 100%;
	padding: 2%;
	/* background: radial-gradient(
		circle at -25% 50%,
		#23232334 50%,
		transparent 59.9%,
		#06661bb9 60%
	); */
	z-index: 10;
}

.recipe-title {
	color: #f0f0f0f0;
	font-size: 16px;
	font-weight: 600;
	padding: 2%;
	background: #0003019b;
	border: 1px solid white;
	text-transform: uppercase;
	/* border-radius: 10px; */
}

.cancel-btn {
	position: fixed;
	top: 10%;
	right: 0%;
	width: 6dvh;
	height: 6dvh;
	display: grid;
	place-items: center;
	/* margin-right: 2%; */
	/* background: rgb(173, 0, 0); */
	/* background-color: rgb(230, 2, 2); */
	/* background-image: url("https://www.transparenttextures.com/patterns/bo-play.png"); */
	/* background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre-big.png"); */
	/* background-size: 35%; */
	background: radial-gradient(
		ellipse at center,
		black 0,
		black 2px,
		rgba(203, 4, 4, 0.95) 1px,
		2px,
		rgba(203, 4, 4, 0.95) 100%
	);
	/* radial-gradient(circle at 100%, #333, #333 50%, #eee 75%, #333 75%); */

	background-repeat: repeat;
	background-position: left center;
	background-size: 11px 11px;

	border: 2px solid rgb(100, 2, 3);
	border-radius: 10px;
	border-bottom-right-radius: 50% 50%;
	border-top-left-radius: 50% 50%;
	border-top-right-radius: 20% 20%;
	margin: 6% 3% 0% 0%;
	box-shadow: inset 0 0 0.8rem rgba(0, 0, 0, 0.85)
		/* inset 0 0 0.8rem rgba(0, 0, 0, 0.85); */;
	z-index: 10;
	/* filter: drop-shadow(0 0 0.1rem rgba(203, 4, 4, 0.85)); */
	filter: drop-shadow(-4px 4px 12px rgba(0, 0, 0, 0.775));
}

.x-icon {
	width: 1.6em;
	height: 1.6em;
	fill: white;
	stroke: white;
	stroke-width: 2px;
}

.straw-leaves {
	position: absolute;
	top: -23%;
	left: 18%;
	width: 100%;
	height: 100%;
	stroke: rgba(5, 54, 5, 0.76);
	stroke-width: 3px;
	fill: #025a02;
	transform: scale(1.2);
}

.straw-plant-container {
	position: fixed;
	top: 15%;
	right: 0%;
	width: 6dvh;
	height: 300px;
	/* border: 1px solid white; */
	margin: 6% 3% 0% 0%;
}

.straw-plant {
	/* width: 100%; */
	/* height: 100%; */
	fill: none;
	stroke: rgba(1, 140, 1, 0.9);
	stroke-width: 3px;
	/* transform: scale(1.2); */
	transform: scaleY(3);
	transform-origin: 0% 0%;
	position: absolute;
	top: 0;
	overflow: hidden;

	/* Aggiungere z-index corretto */
}

.straw-leaf {
	position: absolute;
	top: 100%;
	left: 2%;
	/* top: 85%;
	left: 10%; */
	width: 6dvh;
	height: 6dvh;
	overflow: hidden;
	transform: scale(1.5);
}

.straw-leaf > path {
	/* fill: #073a07; */
	/* stroke: rgb(1, 28, 1); */
	/* stroke: linear-gradient(red, white); */
	stroke-width: 4px;
	filter: brightness(0.9);
}
