.animation-container {
	width: 100%;
	height: 15vh;
	display: grid;
	place-items: center;
	position: relative;
	border: 1px solid transparent;
	margin-top: 0%;
	margin-bottom: 4%;
}

.small-plant-svg {
	transform: scale(90%, 90%) translate(-1%, 34%);
	filter: brightness(1);
	z-index: 2;
}

.small-plant-svg > g > path {
	stroke-width: 1.5px;
	stroke-linecap: round;
}

.tomato-svg {
	position: absolute;
	z-index: 1;
}

.tomato-svg > path {
	stroke-width: 2px;
}

.end-leaves {
	position: absolute;
	z-index: 2;
	overflow: hidden;
}

/* .firstTomatoPath {
	filter: hue-rotate(80deg);
} */
