.flowers-vase {
	position: absolute;
	width: 38vw;
	height: 38vw;
	border-radius: 50%;
	border: 12px solid #85430a;
	background-color: #3b2c24;
}

.flowers-container {
	position: absolute;
	/* top: 56vh; */
	/* display: grid;
	place-items: center;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr; */

	display: grid;
	place-items: center;
	/* grid-template-columns: repeat(2, 70px);
	grid-auto-rows: 70px; */
	/* padding: 14% 20%; */

	width: 64vw;
	height: 64vw;
	border-radius: 50%;
	border: 2px solid transparent;
	z-index: 10;
}

.flowers-container > svg {
	/* width: 10vw;
	height: 16vw; */
	display: grid;
	place-content: center;
	position: absolute;
	/* position: absolute;
	top: 25%;
	left: 25%; */
	/* text-shadow: 1px 10px 1px white; */

	transform: scale(0.45);
}

.flowers-path {
	stroke-width: 3px;
	stroke: rgb(54, 0, 73);
	stroke-opacity: 0.7;
	/* fill: linear-gradient(rgb(123, 19, 161), rgb(239, 109, 215)); */
	/* transform: scale(0.5); */
	/* rgb(239, 109, 215) */
}

.leaves-path {
	stroke-width: 3px;
	stroke: rgba(23, 95, 55, 0.9);
	stroke-opacity: 0.9;
}
