.flowers-vase {
	position: absolute;
	width: 38vw;
	height: 38vw;
	border-radius: 50%;
	border: 12px solid #85430a;
	background-color: #3b2c24;
}

.flowers-container {
	position: relative;
	display: grid;
	place-items: center;
	width: 500px;
	height: 500px;
	/* border-radius: 50%; */
	/* border: 2px solid transparent; */
	z-index: 10;

	/* border: 1px solid pink; */
	/* transform: scale(0.45);
	transform-origin: 50% 50%; */
}

.flowers-container > svg {
	display: grid;
	place-content: center;
	/* position: absolute; */
	/* top: -50%; */
	/* left: -50%; */
	/* transform: scale(0.45); */
	transform: scale(0.4);
}

.flowers-path {
	stroke-width: 3px;
	stroke: rgb(54, 0, 73);
	stroke-opacity: 0.7;
}

.leaves-path {
	stroke-width: 3px;
	stroke: rgba(23, 95, 55, 0.9);
	stroke-opacity: 0.9;
}

@media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
}

@media only screen and (min-height: 280px) and (max-height: 480px) and (orientation: landscape) {
}

@media only screen and (min-width: 481px) and (max-width: 899px) and (min-height: 481px) {
	.flowers-vase {
	}
	.flowers-container {
	}
	.flowers-container > svg {
		transform: scale(0.8);
	}
	.flowers-path {
	}
	.leaves-path {
	}
}

@media only screen and (min-width: 899px) and (max-width: 1199px) and (orientation: landscape) {
	.flowers-vase {
		width: 15vw;
		height: 15vw;
	}

	.flowers-container > svg {
		transform: scale(0.6);
	}
}

@media only screen and (min-width: 1200px) and (min-height: 481px) {
	.flowers-vase {
		width: 15vw;
		height: 15vw;
	}

	.flowers-container > svg {
		transform: scale(0.6);
	}
}

@media only screen and (min-width: 1920px) {
	.flowers-container > svg {
		transform: scale(0.8);
	}
}

@media only screen and (min-width: 2560px) {
	.flowers-container > svg {
		transform: scale(1.2);
	}
}
