.flowers-vase {
	position: absolute;
	width: 38vw;
	height: 38vw;
	border-radius: 50%;
	border: 12px solid #85430a;
	background-color: #3b2c24;
}

.flowers-container {
	position: relative;
	display: grid;
	place-items: center;
	width: 64vw;
	height: 64vw;
	/* border-radius: 50%; */
	/* border: 2px solid transparent; */
	z-index: 10;

	border: 1px solid pink;
	/* transform: scale(0.45);
	transform-origin: 50% 50%; */
}

.flowers-container > svg {
	display: grid;
	place-content: center;
	position: absolute;
	top: -50%;
	left: -50%;
	/* transform: scale(0.45); */
}

.flowers-path {
	stroke-width: 3px;
	stroke: rgb(54, 0, 73);
	stroke-opacity: 0.7;
}

.leaves-path {
	stroke-width: 3px;
	stroke: rgba(23, 95, 55, 0.9);
	stroke-opacity: 0.9;
}

/* clean */
