.loading-container {
	width: 100dvw;
	height: 100dvw;
	display: grid;
	place-items: center;
	overflow: hidden;
}

.spinner-svg {
	width: 60vw;
	height: 60vw;
	stroke: rgba(1, 140, 1, 0.9);
	stroke-width: 1px;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: transparent;
	-webkit-animation: rotate 2s normal linear infinite;
	animation: rotate 2s normal linear infinite;
	z-index: 3;
}

.plant-icon {
	position: absolute;
	width: 5em;
	height: 5em;
	background: radial-gradient(
		circle at 50% 50%,
		rgba(23, 23, 23, 0.6) 10%,
		rgba(23, 23, 23, 0.5) 23%,
		rgba(23, 23, 23, 0) 80%
	);
	/* transform: scale(0.5); */
	/* transform-origin: center; */
	stroke-linejoin: round;
	fill: rgba(23, 23, 23, 0.5);
	z-index: 2;
}

.recipe-icon {
	position: absolute;
	width: 4em;
	height: 4em;
	background: radial-gradient(
		circle at 50% 50%,
		rgba(23, 23, 23, 0.6) 10%,
		rgba(23, 23, 23, 0.5) 23%,
		rgba(23, 23, 23, 0) 80%
	);
	/* transform: scale(0.4); */
	/* transform-origin: center; */
	z-index: 2;
	stroke-width: 3px;
	fill: rgba(230, 230, 230, 0.9);
}

.pref-icon {
	position: absolute;
	width: 4em;
	height: 4em;
	background: radial-gradient(
		circle at 50% 50%,
		rgba(23, 23, 23, 0.6) 10%,
		rgba(23, 23, 23, 0.5) 23%,
		rgba(23, 23, 23, 0) 80%
	);
	/* transform: scale(0.4); */
	z-index: 2;
	stroke-width: 3px;
	fill: rgba(230, 230, 230, 0.9);
}

/* .leaves-svg {
	display: none;
	position: fixed;
	top: 25%;
	z-index: 1;
	transform: scale(4);
	transform-origin: center;
	overflow: hidden;
} */

/* .leaves-path {
	stroke-width: 1px;
	stroke: rgba(23, 95, 55, 0.9);
	stroke-opacity: 0.9;
	overflow: hidden;
} */

@keyframes rotate {
	0% {
		-webkit-transform: rotate3d(0, 0, 1, 0deg);
		transform: rotate3d(0, 0, 1, 0deg);
	}

	100% {
		-webkit-transform: rotate3d(0, 0, 1, 360deg);
		transform: rotate3d(0, 0, 1, -360deg);
	}
}

/* clean */
