.search-bar {
	display: flex;
	flex-direction: row;
	width: 80vw;
	height: 5vh;
	position: absolute;
	left: 10%;
	bottom: 23%;
	justify-content: center;
	align-items: center;
	border: 1px solid transparent;
	border-radius: 50px;
	background: radial-gradient(
		circle at 50% 52%,
		#272727d9 52%,
		#2f2e2e 55%,
		transparent 86%
	);
	z-index: 26;
}

.input-bar {
	position: relative;
	width: 50vw;
	height: 4vh;
	color: rgba(230, 230, 230, 0.74);
	font-size: 18px;
	padding-left: 5%;
	padding-right: 5%;
	border: 1px solid transparent;
	background-color: transparent;
	z-index: 27;
}

.input-bar:focus {
	outline: none;
	padding-left: 5%;
	padding-right: 5%;
	border: 1px solid transparent;
}

.input-bar:active {
	border: 1px solid transparent;
	box-shadow: 0px 0px 5px rgba(100, 100, 100, 0.7);
}

.input-bar::placeholder {
	color: rgba(230, 230, 230, 0.74);
	opacity: 0.9;
}

.input-bar::-webkit-input-placeholder {
	color: rgba(230, 230, 230, 0.74);
	opacity: 0.9;
}

.input-icon {
	color: rgb(255, 255, 255);
}

@media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
}

@media only screen and (min-height: 280px) and (max-height: 480px) and (orientation: landscape) {
}

@media only screen and (min-width: 481px) and (max-width: 899px) and (min-height: 481px) {
	.input-bar {
		height: 6vh;
		font-size: 22px;
	}

	.input-icon {
		width: 1.4em;
		height: 1.4em;
	}
}

@media only screen and (min-width: 1200px) and (min-height: 481px) {
	.search-bar {
		width: 36vw;
		height: 7vh;
		position: absolute;
		left: 32%;
		bottom: 23%;
		background: radial-gradient(
			circle at 50% 23%,
			#232323f7 52%,
			#1b1b1bbd 55%,
			transparent 84%
		);
	}

	.input-bar {
		width: 20dvw;
		font-size: 2.3dvh;
	}

	.input-icon {
		width: 3.5dvh;
		height: 3.5dvh;
	}
}
