.search-bar {
	display: flex;
	flex-direction: row;
	width: 80vw;
	height: 5vh;
	position: absolute;
	left: 10%;
	bottom: 23%;
	justify-content: center;
	align-items: center;
	border: 1px solid transparent;
	border-radius: 50px;
	background: radial-gradient(
		circle at 50% 52%,
		#272727d9 52%,
		#2f2e2e 55%,
		transparent 86%
	);
	z-index: 26;
}

.input-bar {
	position: relative;
	width: 50vw;
	height: 4vh;
	font-size: 18px;
	padding-left: 5%;
	padding-right: 5%;
	border: 1px solid transparent;
	background-color: transparent;
	z-index: 27;
}

.input-bar:focus {
	outline: none;
	padding-left: 5%;
	padding-right: 5%;
	border: 1px solid transparent;
}

.input-bar:active {
	border: 1px solid transparent;
	box-shadow: 0px 0px 5px rgba(100, 100, 100, 0.7);
}

.input-bar::placeholder {
	color: rgba(230, 230, 230, 0.74);
	opacity: 0.9;
}

.input-bar::-webkit-input-placeholder {
	color: rgba(230, 230, 230, 0.74);
	opacity: 0.9;
}

.inputIcon {
	color: rgb(255, 255, 255);
}
