.recipe {
	position: relative;
	display: grid;
	place-items: center start;
	width: auto;
	height: 25dvh;
	text-align: center;
	text-decoration: none;
	background-color: transparent;
	border: 1px solid transparent;
	border-left: 8px ridge rgba(3, 176, 3, 0.75);
	margin: 4%;
	z-index: 1;
	overflow: hidden;
	/* opacity: 0; */
}

.recipe-image-container {
	position: absolute;
	left: -23%;
	width: 23dvh;
	height: 23dvh;
	display: grid;
	place-items: center;
	background: linear-gradient(to right, #0f8b0f 0%, #232323 80%);
	overflow: hidden;
	z-index: 2;
	border-radius: 50%;
	box-shadow: rgba(23, 23, 23, 0.4) 23px 0px 10px,
		rgba(0, 0, 0, 0.06) 2px 0px 1px, rgba(0, 0, 0, 0.09) 5px 0px 2px,
		rgba(0, 0, 0, 0.09) 10px 0px 4px, rgba(0, 0, 0, 0.15) 22px 0px 8px,
		rgba(0, 0, 0, 0.147) 23px 0px 16px;
}

.recipe-image-circle {
	position: relative;
	width: 18.5dvh;
	height: 18.5dvh;
	display: grid;
	place-items: center;
	overflow: hidden;
	z-index: 3;
	border-radius: 50%;

	/* filter: drop-shadow(23px 0px 20px black); */
}

.recipe-image {
	/* position: absolute;
	left: -15%; */
	/* left: -22%; */
	width: 18.5dvh;
	height: 18.5dvh;
	/* width: 23.5dvh;
	height: 23dvh; */
	/* border: 20px solid #0124082d; */
	overflow: hidden;
	border-radius: 50%;
	z-index: 4;

	/* filter: brightness(0.95); */
	/* box-shadow: inset rgba(19, 180, 54, 0.254) 4px 3px 10px,
		rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
		rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.15) 0px 16px 8px,
		rgba(0, 0, 0, 0.147) 0px 32px 16px; */
}

.recipe-link {
	display: grid;
	place-items: center;
	width: 100%;
	height: 100%;
	padding: 2%;
	z-index: 100;
}

.recipe-title {
	position: relative;
	z-index: 6;
	color: #f0f0f0f0;
	font-size: 16px;
	font-weight: 600;
	padding: 2%;
	background: #0003019b;
	border: 1px solid white;
	text-transform: uppercase;
}
