.single-recipe {
	width: 100dvw;
	height: 94dvh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #232323;
	overflow-x: hidden;
	overflow-y: scroll;
	scroll-behavior: smooth;
}

.ghost-container {
	display: grid;
	place-items: center;
	width: 100%;
	min-height: 33dvw;
}

.btns-container {
	position: relative;
	top: 0%;
	/* top: 20%; */
	z-index: 10;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	height: 15dvh;
	background: transparent;
	overflow: visible;
	background: transparent;
	transition: overflow-y 0.5s ease;
}

.btns-container-down {
	position: fixed;
	top: 0%;
	z-index: 10;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	height: 15dvh;
	overflow: hidden;
	background: linear-gradient(
		to top,
		transparent,
		rgba(45, 45, 45, 0.5) 15%,
		rgba(35, 35, 35, 0.953) 90%,
		rgb(45, 45, 45) 100%
	);
	transition: background 0.2s ease;
	transition: overflow-y 0.5s ease;
}

.undo-btn {
	position: relative;
	top: 0;
	left: 0;
	width: 20dvw;
	height: 100%;
	background: transparent;
	border: 0px solid transparent;

	margin: 5dvw;
	z-index: 11;
}

.fork-svg {
	position: absolute;
	width: 20dvw;
	transform: rotateZ(-60deg) translateX(33dvw) translateY(-14dvw);
	z-index: 9;
	opacity: 1;
	transition: opacity 0.5s ease;
}

.knife-svg {
	position: absolute;
	width: 20dvw;
	transform: rotateZ(54deg) translateX(-62dvw) translateY(-23dvw);
	z-index: 8;
	opacity: 1;
	transition: opacity 0.5s ease;
}

.fork-svg-down {
	position: absolute;
	width: 20dvw;
	transform: rotateZ(-60deg) translateX(33dvw) translateY(-14dvw);
	z-index: 9;
	opacity: 0;
	transition: opacity 0.5s ease;
}

.knife-svg-down {
	position: absolute;
	width: 20dvw;
	transform: rotateZ(54deg) translateX(-62dvw) translateY(-23dvw);
	z-index: 8;
	opacity: 0;
	transition: opacity 0.5s ease;
}

.green-sauce {
	transform: scale(0.8) translateX(2dvw) translateY(14dvw);
}

.save-btn {
	position: relative;
	right: 0;
	width: 20dvw;
	height: 100%;
	background: transparent;
	border: 0px solid transparent;
	margin: 5dvw;
	z-index: 13;
}

.undo-btn-icon {
	position: relative;
	fill: #efefef;
	stroke: #232323;
	stroke-width: 23px;
	filter: drop-shadow(-1px 5px 3px black);
	width: 1.8rem;
	height: 1.8rem;
	z-index: 13;
}

.save-btn-icon {
	position: relative;
	fill: transparent;
	stroke-width: 23px;
	filter: drop-shadow(0px 0px 2px black);
	width: 1.8rem;
	height: 1.8rem;
	z-index: 13;
}

/* for not active */

.save-btn-icon-not-active-to-change {
	position: relative;
	fill: transparent;
	stroke: #ffffff;
	stroke-width: 23px;
	filter: drop-shadow(0px 0px 3px black);
	width: 1.8rem;
	height: 1.8rem;
	z-index: 13;
}

.main-title {
	width: 80%;
	font-size: 1.4em;

	position: relative;
	top: 17.5dvh;
	z-index: 10;
	text-align: center;
	color: #f0f0f0f0;
	background: #0003019b;
	border: 1px solid white;
	font-weight: 600;
	padding: 2%;
}

.info-container {
	width: 100dvw;
	height: 50dvw;
}

.first-info {
	width: 100dvw;
	height: 50dvw;

	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-end;
	margin: 5% 0%;
	color: #f0f0f0f0;
	font-weight: 600;
	z-index: 5;
}

.images-part {
	position: absolute;
	top: -19dvh;

	width: 100dvw;
	height: 100dvw;
	display: grid;
	place-items: center;
	filter: brightness(0.95);
	opacity: 0.95;
	margin-top: 15%;
}

.image-container {
	display: grid;
	place-items: center;
	width: 75dvw;
	height: 75dvw;
	position: relative;
	border-radius: 100%;
	margin: 0%;
	overflow: hidden;
	z-index: 2;
}

.image {
	position: relative;
	width: auto;
	height: 100%;
	margin: 0%;
	overflow: hidden;
	z-index: 2;
}

.recipe-plate {
	position: absolute;
	width: 123dvw;
	height: 123dvw;
	overflow: visible;
	z-index: 1;
}

.recipe-plate > circle {
	stroke-width: 0.3px;
	z-index: 10;
	filter: brightness(1.1) drop-shadow(0px 0px 1px rgba(100, 100, 100, 0.75))
		contrast(1.23);
}

.general-info {
	width: 90dvw;
	display: grid;
	background: linear-gradient(
		to bottom,
		#2d2d2d30 1%,
		#2d2d2d30 2%,
		#2d2d2d63 4%,
		#2d2d2da6 8%,
		#2d2d2df3 15%,
		#2d2d2d 23%
	);
	padding: 15% 2% 2% 2%;
	border-radius: 10px;
	margin: 3% 0% 3% 0%;
	z-index: 15;
}

.text-container {
	width: 80dvw;
	height: 18dvh;
	display: grid;
	align-items: center;
	justify-content: space-around;
	align-content: center;
	grid-template-areas: "time servings likes" "diet diet diet";
	padding: 3% 0% 3% 0%;
	margin: 0% auto 0% auto;
}

.time {
	grid-area: time;
	width: 20dvw;
	height: 5dvh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 2%;
	margin: 2% 10%;
	text-transform: uppercase;
	z-index: 6;
}

.time > svg {
	width: 1.4rem;
	height: 1.4rem;
}

.time > span {
	font-size: 1.1rem;
	text-transform: uppercase;
	font-weight: 600;
	padding: 0% 5% 0% 5%;
}

.servings {
	grid-area: servings;
	width: 20dvw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 2%;
	height: 5dvh;
	margin: 2% 10%;
	text-transform: uppercase;
	z-index: 6;
}

.servings > svg {
	width: 1.4rem;
	height: 1.4rem;
}

.servings > span {
	font-size: 1.1rem;
	text-transform: uppercase;
	font-weight: 600;
	padding: 0% 5% 0% 5%;
}

.likes {
	grid-area: likes;
	width: 20dvw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 2%;
	height: 5dvh;
	margin: 2% 10%;
	z-index: 6;
}

.likes > svg {
	width: 1.4rem;
	height: 1.4rem;
}

.likes > span {
	font-size: 1.1rem;
	text-transform: uppercase;
	font-weight: 600;
	padding: 0% 5% 0% 5%;
}

.diet {
	grid-area: diet;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 2%;
	height: 5dvh;
	margin-top: 2%;
	margin-bottom: 2%;
	z-index: 6;
}

.diet > svg {
	width: 1.4rem;
	height: 1.4rem;
	fill: rgba(23, 180, 23, 0.9);
}

.diet > span {
	height: 1.2rem;
	color: rgba(23, 180, 23, 0.9);
	font-size: 1.1rem;
	text-transform: uppercase;
	font-weight: 600;

	padding: 0% 5% 0% 5%;
}

.recipe-presentation {
	position: relative;
	width: 90dvw;
	background: #2d2d2d;
	padding: 2%;
	border-radius: 10px;
	margin: 3% 0% 3% 0%;
	z-index: 8;
}

.total-ingredients {
	list-style: none;
	padding: 1% 2% 1% 10%;
	margin: 5% 0% 5% 0%;
}

.ingredients {
	width: 90dvw;
	background: #2d2d2d;
	padding: 2%;
	border-radius: 10px;
	margin: 3% 0% 3% 0%;
}

.ingredients-list {
	padding: 3%;
	margin: 5% 0% 5% 10%;
}

.ingredient {
	display: flex;
	flex-direction: row;
	align-content: center;
	text-transform: uppercase;
	font-weight: 600;
	color: #efefef;
	margin: 4% 0% 4% 0%;
}

.ingredient-checkbox {
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
	display: grid;
	place-items: center;
	background: transparent;
	width: 18px;
	height: 18px;
	color: rgba(23, 160, 23, 0.95);
	fill: rgba(23, 160, 23, 0.95);
	gap: 20px;
	border: 1px solid grey;
	border-radius: 4px;
	margin-right: 5%;
}

.ingredient-checkbox > i {
	color: rgba(23, 160, 23, 0.95);
	fill: rgba(23, 160, 23, 0.95);
}

.ingredient-checkbox > svg {
	color: rgba(23, 160, 23, 0.95);
	fill: rgba(23, 160, 23, 0.95);
}

.ingredient-checkbox:checked {
	cursor: "\2713";
	content: "\2713";
	color: rgba(23, 160, 23, 0.95);
	fill: rgba(23, 160, 23, 0.95);
	font-size: 1.8rem;
	font-weight: 200;
	text-align: center;
	background-color: transparent;
	filter: drop-shadow(2px 2px 4px black);
}

.ingredient-checkbox:checked::after {
	position: relative;
	top: -40%;
	left: -10%;
	content: "\2713";
	color: rgba(23, 160, 23, 0.95);
	fill: rgba(23, 160, 23, 0.95);
}

.ingredient > label {
	width: 85%;
}

.ingredient-checkbox[type="checkbox"] {
	/* background: transparent; */
	/* content: "\2713"; */
	/* color: white; */
	/* font-size: 20px; */
	/* text-align: center; */
}

.recipe-summary {
	padding: 2%;
	margin: 5% 10% 5% 10%;
}

.instructions-container {
	padding: 2%;
	width: 90dvw;
	border-radius: 10px;
	background: #2d2d2d;
	padding: 2%;
	margin: 3% 0% 3% 0%;
}

.instructions-container > ol {
	padding: 2%;
	margin: 5% 0% 0% 10%;
}

.instructions-container > ol > li {
	margin: 2% 0% 2% 0%;
}

.section-title {
	text-decoration-line: underline;
	text-decoration-color: rgba(23, 140, 23, 0.9);
	text-underline-offset: 0.5rem;
	text-decoration-thickness: 4px;
	padding: 1rem;
}

.instructions-list {
	list-style: none;
}

.step {
	margin: 10% 2% 5% 10%;
}

.step-title {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
	text-transform: uppercase;
	font-weight: 600;
	margin: 5% 0%;
}

.step-checkbox {
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
	display: grid;
	place-items: center;
	background: transparent;
	width: 20px;
	height: 20px;
	border: 1px solid rgb(150, 150, 150);
	border-radius: 100%;
	margin: 0% 10% 0% 0%;
}

.step-checkbox:checked {
	display: grid;
	place-items: center;
	font-weight: 200;
	text-align: center;
	background: radial-gradient(
		circle at 50% 50%,
		rgba(23, 180, 23, 0.95) 40%,
		rgba(23, 160, 23, 0.95) 45%,
		rgba(23, 120, 23, 0.95) 50%,
		rgba(23, 23, 23, 0.95) 51%,
		rgba(23, 23, 23, 0.95) 66%
	);
	border: 1px solid rgb(200, 200, 200);
	filter: drop-shadow(1px 1px 2px black);
}

.step-checkbox:checked::after {
	background: radial-gradient(
		circle at 50% 50%,
		rgba(23, 60, 23, 0.95) 10%,
		rgba(23, 100, 23, 0.95) 50%,
		rgba(23, 140, 23, 0.95) 60%
	);
}

.step-text {
	padding: 3%;
}

.step-ingredients {
	padding: 3%;
}

.equipment {
	padding: 3%;
}

.equipment-title {
	font-weight: 600;
	font-size: 16px;
}

.equipment-list {
	padding: 3%;
	margin: 5% 0% 5% 10%;
}

.tool-elem {
	padding: 2% 0%;
}

.tool-name {
	color: rgba(203, 203, 203, 0.95);
}

.ingredients-title {
	font-weight: 600;
	font-size: 16px;
}

.ingredient-name {
	color: rgba(203, 203, 203, 0.95);
	padding: 2% 0%;
}

.controls-container {
	width: 90dvw;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	background: #2d2d2d;
	padding: 2%;
	border-radius: 10px;
	margin: 3% 0% 3% 0%;
}

.complete-btn {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 65dvw;
	height: 15dvw;
	color: rgba(218, 236, 219, 0.95);
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	text-shadow: 0px 2px 5px black;
	background: radial-gradient(
		circle at 0% 120%,
		rgb(23, 160, 23),
		rgb(23, 140, 23) 23%,
		rgb(23, 120, 23) 33%,
		rgb(23, 100, 23) 53%,
		rgb(15, 93, 15) 83%
	);
	border: 3px solid rgb(4, 56, 4);
	border-radius: 15px;
	margin: 3% 0% 3% 0%;
	box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
		rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
		rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset;
	filter: brightness(1.1);
}

.complete-btn > svg {
	margin: 0% 5% 0% 5%;
}

.complete-btn:active {
	color: rgba(80, 190, 80, 0.95);
	border: 3px solid rgb(23, 100, 23);
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
		rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.complete-btn:disabled {
	color: rgba(80, 190, 80, 0.95);
	padding-left: 10%;
	border: 3px solid rgb(23, 100, 23);
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
		rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.reset-btn {
	display: grid;
	place-items: center;
	width: 15dvw;
	height: 15dvw;
	background: #414040de;
	border: 3px solid #414040de;
	border-radius: 15px;
	margin: 3% 0% 3% 0%;
	box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
		rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
		rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset;
}

.reset-btn:active {
	background: #494848de;
	border: 3px solid #232323dd;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
		rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.reset-btn:active > svg {
	fill: rgba(255, 255, 255, 0.9);
	color: rgba(255, 255, 255, 0.9);
}

.reset-btn:disabled {
	background: #494848de;
	border: 3px solid #232323dd;
	box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
		rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
		rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset;
}

.reset-btn:disabled > svg {
	fill: rgba(255, 255, 255, 0.3);
	color: rgba(255, 255, 255, 0.3);
}

.reset-btn > svg {
	width: 1.5rem;
	height: 1.5rem;
	fill: rgba(255, 255, 255, 0.9);
	color: rgba(255, 255, 255, 0.9);
}
