.straw-leaves-container {
	position: absolute;
	display: flex;
	flex-direction: column;
	z-index: 11;
}

.straw-leaf {
	overflow: hidden;
	transform-origin: 0% 0%;
}

.straw-leaf > path {
	stroke-width: 4px;
}

@media only screen and (min-height: 280px) and (max-height: 480px) and (orientation: landscape) {
	.straw-leaves-container {
		/* scale: 2;
		translate: 2dvw 6dvh; */
	}
}
