.straw-leaves-container {
	position: absolute;
	display: flex;
	flex-direction: column;
	z-index: 11;
}

.straw-leaf {
	overflow: hidden;
	transform-origin: 0% 0%;
}

.straw-leaf > path {
	stroke-width: 4px;
}
