.straw-leaves-container {
	position: absolute;
	display: flex;
	flex-direction: column;
	z-index: 11;
}

.straw-leaf {
	overflow: hidden;
	transform-origin: 0% 0%;
	/* background: radial-gradient(
		circle at 50% 50%,
		rgba(23, 23, 23, 0.1) 23%,
		transparent 24%
	); */
	/* filter: drop-shadow(2px 2px 10px black); */
}

.straw-leaf > path {
	stroke-width: 4px;
}
